services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        
    aea_tech_web_snapshot_profiler_newrelic.filter:
        class: AEATech\SnapshotProfilerNewrelic\Filter
        
    aea_tech_web_snapshot_profiler_newrelic.saver:
        class: AEATech\SnapshotProfilerNewrelic\Saver
            
    aea_tech_web_snapshot_profiler_newrelic.adapter:
        class: AEATech\SnapshotProfilerNewrelic\Adapter
        arguments:
            $appName: ''
            $license: ''
        
    aea_tech_web_snapshot_profiler_newrelic.profiler:
        class: AEATech\SnapshotProfiler\Profiler
        arguments:
            $adapter: '@aea_tech_web_snapshot_profiler_newrelic.adapter'
        
    aea_tech_web_snapshot_profiler_newrelic.event_matcher.all:
        class: AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\AllEventMatcher
    
    aea_tech_web_snapshot_profiler_newrelic.event_matcher.header:
        class: AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\HeaderEventMatcher

    aea_tech_web_snapshot_profiler_newrelic.event_matcher.request_param_aware.route_event.inner:
        class: AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\RouteEventMatcher

    aea_tech_web_snapshot_profiler_newrelic.event_matcher.request_param_aware_route_event:
        class: AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\RequestParamAwareRouteEventMatcher
        arguments:
            $routeEventMatcher: '@aea_tech_web_snapshot_profiler_newrelic.event_matcher.request_param_aware.route_event.inner'

    aea_tech_web_snapshot_profiler_newrelic.event_matcher.route:
        class: AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\RouteEventMatcher
    
    aea_tech_web_snapshot_profiler_newrelic.event_matcher:
        class: AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\EventMatcher
        arguments:
            $eventMatchers: !tagged_iterator aea_tech_web_snapshot_profiler_newrelic.event_matcher.item

    AEATech\WebSnapshotProfilerNewrelicBundle\AcceptTraceHeadersBuilder: ~
    AEATech\WebSnapshotProfilerNewrelicBundle\OptionsFactory: ~
    
    aea_tech_web_snapshot_profiler_newrelic.event_subscriber:
        class: AEATech\WebSnapshotProfilerEventSubscriber\EventSubscriber
        arguments:
            $eventMatcher: '@aea_tech_web_snapshot_profiler_newrelic.event_matcher'
            $optionsFactory: '@AEATech\WebSnapshotProfilerNewrelicBundle\OptionsFactory'
            $profiler: '@aea_tech_web_snapshot_profiler_newrelic.profiler'
            $filter: '@aea_tech_web_snapshot_profiler_newrelic.filter'
            $saver: '@aea_tech_web_snapshot_profiler_newrelic.saver'